/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-color: #ddd;
	min-width: 600px;
	max-width: 1550px;
	
}

/* Universal styling applied to all elements of these types */

label {
	display: inline-flex;
	width: 12%; text-align: left;
	margin-right: 2px;
}

input {
	display: inline-block;
	width: 18%; text-align: left;
	margin-right: 4px;
}

input[type="number"] {
  text-align: center;
  border: 1px solid black;
  margin: 1px;
}



input[type='checkbox'] {
	height: 13px;
	width: 13px;
	margin: 10px;
}

select {
	display: inline-block;
	width: 18%; text-align: left;
	margin-right: 4px;
}

/*Vital Info formatting start*/
.sheet-vitalinfo-section{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  border: 2px solid black; padding: 3px;
  background-color: #CBCBCB;  
}

/*Hitchart formatting start*/
.sheet-wounds{
  display: inline-grid;
	grid-template-columns: 35% 15% 10% 15% 105px;
	grid-template-rows: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
	grid-gap: 1px;
}

.sheet-wounds > input[type="number"]{
	width: 35px;
	height: 100%;
}

.sheet-wounds > input[type='text']{
	width: 200%;
}



/*Pacechart Formatting*/
.sheet-pace {
	display: inline-grid;
	grid-template-columns: 80px 70px 50px 50px 80px;
	grid-template-rows: 22px;
}
.sheet-pace > span{
	width: 100%;
	height: 22px;
	padding-top: 10px;
}
.sheet-pacechart > div{
	padding-left: 70px;
}

/*Main Div Formatting*/
.sheet-main{
	display: flex;
	flex-wrap: row wrap;
	max-width: 1500px;
}

/*Stat Pool formatting start*/
.sheet-pool-section{
  display: grid;
	  grid-template-columns: 10% 15% 8.5% 15% 15% 38%;
	  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;	  
}

.sheet-pool-section > span {
	width: 100%;
	height: 22px;
	padding-top: 10px;
}

/*Derived Attribues formatting start*/
.sheet-col {
	display: flex;
	border: black 2px solid;
}

.sheet-derived-section{
  display: grid;
	  grid-template-columns: 40% 15%;
	  margin-right: 10px;
}

.sheet-derived-section > input[type="number"] {
	display: inline-block;
	border: black solid 1px;
	margin: 2px;
	width: 99%;
}
.sheet-derived-section > span {
	width: 100%;
	height: 22px;
	padding-top: 10px;
}

.sheet-derived-section >  label {
	display: inline-block;
	width: 250px;
	padding-top: 5px;
	font-size: small;
}


.sheet-conditiontracker-section {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
}

.sheet-conditiontracker-section >  label {
	display: inline-block;
	width: 250px;
	padding-top: 5px;
	font-size: small;
}



/*WeaponCatLabel*/
.sheet-WeaponCatLabel > label {
	display: inline-block;
	width: 250px;
	padding-top: 5px;
}

/*Ranged Weapon formatting*/
.sheet-rangedweaponlabel{
	display: grid;
		grid-template-columns: 5% 4% 15% 5% 5% 7.5% 5% 10% 5% 5% 5% 5% 21%;
		grid-gap: 1px;
}

.sheet-rangedweaponlabel > span {
	width: 100%;
	height: 100%;
	text-align: center;
}

.sheet-rangedweapon-section{
	display: grid;
		grid-template-columns: 5% 4% 15% 5% 5% 7.5% 5% 10% 5% 5% 5% 5% 21%;
		grid-template-rows: 28px;
		grid-gap: 1px;
		margin-bottom: 10px;
}

.sheet-rangedweapon-section > input[type="text"],
.sheet-rangedweapon-section > select {
	display: inline-block;
	border: black solid 1px;
	height: 28px;
	margin: 0px;
	width: 99%;
}

.sheet-rangedweapon-section > textarea {
	display: inline-block;
	margin: 0px;
	border: black solid 1px;
	width: 99%;
	min-width: 30%;
	max-width: 100%;
	height: 19px;
	min-height: 19px;
	max-height: 50px; 
}

/*Melee Weapon Formatting*/
.sheet-meleeweaponlabel{
	display: grid;
		grid-template-columns: 5% 5% 15% 5% 5% 5% 10% 5% 5% 5% 5% 24%;
		grid-gap: 2px;
}	

.sheet-meleeweaponlabel > span {
	width: 100%;
	height: 100%;
	text-align: center;
}

.sheet-meleeweapon-section{
	display: grid;
		grid-template-columns: 5% 5% 15% 5% 5% 5% 10% 5% 5% 5% 5% 24%;
		grid-gap: 2px;
}

.sheet-meleeweapon-section > input[type="text"],
.sheet-meleeweapon-section > input[type="number"],
.sheet-meleeweapon-section > select {
	display: inline-block;
	border: black solid 1px;
	height: 28px;
	margin: 0px;
	width: 99%;
}

.sheet-meleeweapon-section > textarea {
	display: inline-block;
	margin: 0px;
	border: black solid 1px;
	width: 99%;
	min-width: 30%;
	max-width: 100%;
	height: 19px;
	min-height: 19px;
	max-height: 50px; 
}


/*Skill Column Formatting*/
.sheet-skills-columns{
	display: flex;
	flex-wrap: wrap;
}

/*Skill Category Hide Formatting*/
.sheet-cat-hide{
	display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-row-template: 25px 25px;
	flex-shrink: 2;
	font-size-adjust: 0.5; 
}

.sheet-cat-hide > label{
	display: flex;
	border: solid black 1px;
	background-color: cyan;
	text-align: left;
	border-radius: 10px;
	font-size: small;
	padding-top: 10px;
	padding-left: 10px;
	width: 75%;
}

/*Skills formatting start*/
.sheet-skills-section{
	display: grid;
		grid-template-columns: 35px 130px 40px 40px 40px;
}

input[type="text"].sheet-skill-total{
  text-align: center;
  border: 1px solid black;
  margin: 1px;
  width: 100%;
}

input[type="text"].sheet-skill-custom{
  text-align: left;
  border: 1px solid black;
  margin: 1px;
  width: 100%;
}

input[type="checkbox"]:checked.sheet-toggle ~ div.sheet-body div.sheet-skills-section > span.sheet-inputs-readonly {
  display: inline-block;
  align-self: center;
  text-align: center;
}

/*Gear Page formatting start*/
div.sheet-gear_and_equipment{
	margin: 5px;
}
.sheet-gearpagelabel{
	display: grid;
		grid-template-columns: 5% 3% 13% 5% 5% 7.5% 5% 10% 5% 5% 5% 5% 23%;
		grid-gap: 1px;
}
.sheet-gearpagelabel > span {
	width: 100%;
	height: 100%;
	text-align: center;
}
.sheet-gearpage-section{
	display: grid;
		grid-template-columns:  5% 3% 13% 5% 5% 7.5% 5% 10% 5% 5% 5% 5% 23%;
		grid-template-rows: 28px;
		grid-gap: 1px;
		margin-bottom: 10px;
}
.sheet-gearpage-section > input[type="text"],
.sheet-gearpage-section > select {
	display: inline-block;
	border: black solid 1px;
	height: 28px;
	margin: 0px;
	width: 99%;
}
.sheet-gearpage-section > textarea {
	display: inline-block;
	margin: 0px;
	border: black solid 1px;
	width: 99%;
	min-width: 30%;
	max-width: 100%;
	height: 19px;
	min-height: 19px;
	max-height: 50px; 
}

/*Spells formatting start*/
.sheet-spellpagelabel{
		grid-template-columns: 20% 6% 10% 1fr 50%; 
		grid-template-rows: 24px;
		grid-gap: 2px;
}

.sheet-spells-section{
	display: grid;
		grid-template-columns: 150px 6% 10% 1fr 50%; 
		grid-template-rows: 24px;
		margin-bottom: 10px; 
		grid-gap: 2px;
}

input.spellpage{
	width: 100%;
	margin: 1px;
}
.sheet-spellpages > div {
	margin: 10px;
}

.sheet-spells-section > span {
	text-align: center;
	margin-bottom: 0px;
}

.sheet-spells-section > input[type="text"],
.sheet-spells-section > select {
	display: inline-block;
	border: black solid 1px;
	height: 28px;
	margin: 0px;
	width: 99%;
}

.sheet-spells-section > textarea {
	display: inline-block;
	margin: 0px;
	border: black solid 1px;
	width: 99%;
	min-width: 30%;
	max-width: 100%;
	height: 19px;
	min-height: 19px;
	max-height: 50px; 
}

/*Columns formatting start*/
.sheet-columns {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.sheet-columns > * {
  flex: 1;
}

/*Hidden section checkbox setup*/
input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}



/*Configure the tab buttons*/
.sheet-skillpages,
.sheet-combatpages,
.sheet-gearpages,
.sheet-notespages,
.sheet-spellpages{
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="skillpages"] ~ div.sheet-skillpages,
.sheet-tabstoggle[value="combatpages"] ~ div.sheet-combatpages,
.sheet-tabstoggle[value="gearpages"] ~ div.sheet-gearpages,
.sheet-tabstoggle[value="notespages"] ~ div.sheet-notespages,
.sheet-tabstoggle[value="spellpages"] ~ div.sheet-spellpages{
	display: block;
}


/*Configure the derived tab buttons*/
.sheet-derivedstats,
.sheet-hitchart,
.sheet-pacechart {
	display: none;
}

/* show the selected derived tab */
.sheet-derivedtabstoggle[value="derivedstats"] ~ div.sheet-derivedstats,
.sheet-derivedtabstoggle[value="hitchart"] ~ div.sheet-hitchart,
.sheet-derivedtabstoggle[value="pacechart"] ~ div.sheet-pacechart {
	display: block;
}

/*Configure the Description Textarea Input*/
body{
    width:100%;
    border:1px solid black;
    border-radius:5px;
}
#left{
    width:20%;
	height:400px;
    float:left;
    border: 1px solid black;
    display:block;
}
#content{
    width:78%;
    height:100px;
    float:left;
    border:1px solid black;
    text-align:center;
}
textarea
{
   margin-top:10px;
    width:98%;
}

/*Sheet Toggle Checkbox Settings*/
input[type="number"].sheet-inputs-edit {display:none;}
input[type="checkbox"]:checked.sheet-toggle ~ div.sheet-row > input[type="number"].sheet-inputs-edit {display:inline-block;}
input[type="checkbox"]:checked.sheet-toggle ~ div.sheet-row > span.sheet-inputs-readonly {display:none;}

/*Sheet-Inputs-Readonly*/
span.sheet-inputs-readonly{
	display: flex;
	justify-content: center;
	padding-top: 6px;
	padding-left: 5px;
}

/*Calculated Field Formatting for Readonly Inputs*/
input[type="number"].sheet-calcfield {
	display: inline-block;
	border: blue solid 1px;
	height: 28px;
	margin: 0px;
	width: 65px;
}




